body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}
.header{
    background-color: #444;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin: 0
}
.nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
.nav ul li{margin: 0;}
.nav ul li a{color: white; text-decoration: none;}

.section{
    padding: 60px 20px;
    text-align: center;
}

.transtion-section{
    background-color: #ff7e5f;
    

}
.transtion-box{
    width: 100px;
    height: 100px;
    background-color: #333;
    margin: 0 auto;
    transition: background-color 0.3s ease,transform 0.3s ease;
}
.transtion-box:hover{
    background-color: #ff7e5f;
    transform: scale(1);
}
.animation-section{
    background: linear-gradient(to right,#6a11cb,#2575fc);
}
.animation-box{
    width: 100px;
    height: 100px;
    background-color: #333;
    margin: 50px auto;
    display: inline-block;
    position: relative;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.bounce{
    animation-name: bounce;
}
@keyframes bounce{
    0%,20%,50%,80%,100% {
        transform: translateY(0);
    }
    40%{
        transform: translateY(-40);
    }
    60%{
        transform: translateY(-35px);
    }
}
.spin{
    animation-name: spin;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(350deg);
    }
}
.fade{
    animation-name: fade;
    animation-duration: 3s;
    position: relative;
    top: 120px;
    left: 50px;
}
@keyframes fade{
0%{
opacity: 0;
}
100%{
opacity: 1;}
}
.slide{
    animation-name: slide;
    animation-duration: 2s;
    position: relative;
    top: 120px;
    left: 50px;
}
@keyframes slide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
footer{
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}